<nav>
    <ul>
        <li><a [routerLink]="'/home'">Home</a></li>
        <li><a >About Us</a></li>
        <li><a [routerLink]="'/products'">Products</a></li> 
    </ul>
   
</nav>

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="'/home'">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/about'">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/pipes'">Pipes</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu">
              <li *ngFor = "let item of dropdownItems1">
                <a class="dropdown-item" [routerLink] = "item.routerLink" [queryParams] = "item.queryParams">{{item.text}}</a></li>
             
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink] = "'/observable'">Observable</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu">
              <li *ngFor = "let item of dropdownItems">
                <a class="dropdown-item" [routerLink] = "item.routerLink" [queryParams] = "item.queryParams">{{item.text}}</a></li>
             
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav d-flex flex-row mt-lg-0 mt-2">
            <li class="nav-item">              
                <button class="btn btn-primary" *ngIf = "isLoggedIn" (click) = "logout()">Logout</button>     
                <a class="btn btn-primary" *ngIf = "!isLoggedIn" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
                <a routerLink="/signup">Sign up</a>
            </li>

        </ul>
      </div>
    </div>
  </nav>
